<html>

<head>

<title>Issuewise</title>
<link rel="icon" type="image/png" href="../static/landing/images/hourglass.png" />

<meta property="og:title" content="issuewise" />
<meta property="og:url" content="http://www.issuewise.org"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="An open platform for generating collaborative answers to socio-political issues." />
<meta property="og:image" content="http://www.issuewise.org/static/landing/images/thumbnail.png" />

<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/landing/reset.css"/>
<link rel="stylesheet" type="text/css" href="/static/landing/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/landing/landing.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="landing.js"></script>

</head>

<body>
	<table class="table-centering">
		<tr>
			<td style="text-align: center; vertical-align: middle;">
				<div id='content'>
					<div class="icon-text">
					    <p class='main-text'>
						    We're building
						    <span class='logo-text'>
								<span class='logo-issue'>issue</span>
								<span class='logo-wise'>wise</span>
							</span>.
						</p>
						<p class="description">An open platform for generating collaborative answers<br>to socio-political issues.</p>
					</div>
				    <br><br><br>
				    <p class='top-opener'><span>How does<br>it work?</span></p>
				    <div class="steps">
						<p><span class="number">1</span>&ensp;Ask a question about a real world<br>political or social issue.</p>
						<br><br>
				    	<img style="width: 3em" src="/static/landing/images/question.png">
				    	<br><br><br>
						<p><span class="number">2</span>&ensp;Individuals offer varying opinions.</p>
						<br><br>
						<img style="width: 13em" src="/static/landing/images/answer1.png">
						<br><br><br>
						<p><span class="number">3</span>&ensp;Like-minded people come together.</p>
						<br><br>
						<img style="width: 13em" src="/static/landing/images/answer2.png">
						<br><br><br>
						<p><span class="number">4</span>&ensp;Collaboration creates rich,<br>interconnected solutions.</p>
						<br><br>
						<img style="width: 13em" src="/static/landing/images/answer3.png">
						<br><br><br>
						<p><span class="number">5</span>&ensp;The world becomes a wiser place.</p>		
					</div>
				    <div class="bottom-opener">
				    	<div class='arrow-button'>
				    		<img onclick="slideToggle();" id="arrow" src="/static/landing/images/arrow.png">
				    	</div>
				    </div>
				    <br><br><br>
				    <p id='email-message'>Be the first to try it.</p>
				    <form id="email-form" action="">
						<input id="email" name ="email" type="email" placeholder="Leave your e-mail.">
						<input type="submit" value="Submit">
					</form>
					<br>
					<p class="links">
						<a href="https://www.facebook.com/groups/issuewise">facebook</a>&middot;
						<a href="http://blog.issuewise.org">blog</a>&middot;
						<a href="http://guidelines.issuewise.org">guidelines</a>
					</p>
				</div>
			</td>
		</tr>
	</table>
</body>

</html>